@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --Fondo: #050A30;
  --blue: #2F80ED;
  --white: #ffffff;
  --orange: orange; /* Agregamos una variable para el color naranja */
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0px; /* ajusta la posición del sidebar debajo del header */
  width: 250px;
  background-color: var(--Fondo);
  padding: 20px;
  height: 100vh;
  overflow-y: auto; /* Agregamos overflow-y: auto para que tenga un scroll vertical */
  z-index: 1100; /* asigna un valor mayor que el del header */
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-logo {
  width: 250px;
  margin-top: -80px;
  margin-bottom: -200px;
}

.sidebar-divider {
  margin: 10px 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  cursor: pointer;
  position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  text-decoration: none;
}

.sidebar-item.active {
  background-color: #2980b9;
}

.sidebar-item-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.sidebar-item-text {
  font-size: 16px;
  text-decoration: none;
  
}

.sidebar-section {
  margin-top: 20px;
}

.sidebar-section-title {
  color: #bdc3c7;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Estilo para el hover */
.sidebar-item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px; /* Ancho de la parte blanca a la izquierda */
  height: 100%;
  background-color: white;
  border-top-left-radius: 5px; /* Redondeo de la esquina superior izquierda */
  border-bottom-left-radius: 5px; /* Redondeo de la esquina inferior izquierda */
}
.sidebar-section-title {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  position: relative; /* Añade posición relativa para el título */
}
.sidebar-section-title::before {
  content: '';
  position: absolute;
  top: -5px; /* Ajusta la posición de la línea amarilla arriba del título */
  left: 0;
  width: 100%; /* Ancho completo */
  height: 1px; /* Grosor de la línea */
  background-color: rgba(255, 255, 255, 0.7); /* Color de la línea amarilla con opacidad */
}